<div class="row">
    <div class="col-sm-4">
        <a [routerLink]="['/register']" 
        class="btn btn-outline-primary btn-block ">New post</a>  
    </div>
    <div class="col-sm-6">
      <form novalidate [formGroup]="form">
        <select formControlName="select" 
            class="form-control" 
            (ngModelChange)="selectUser($event)">
          <option value="">Seleccione</option>
          <option *ngFor="let user of users" value="{{ user.val }}">{{ user.name }}</option>
        </select>
      </form>
    </div>
</div>


<hr>
<div class="alert alert-warning col-sm-6" *ngIf="msgShow">
  Success
</div>
<table class="table">
  <thead class="thead-dark">
    <th>#</th>
    <th>Title</th>
    <th>Body</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let post of lstPost; let i = index">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
      <td>
        <a [routerLink]="['/edit',post.id]" class="btn btn-primary">
          EDIT
        </a>
      </td>
      <td>
          <button class="btn btn-danger" (click)="delete( post.id )">
            DELETE
          </button>
      </td>
    </tr>
  </tbody>
</table>
