<a [routerLink]="['/']" class="btn  btn-outline-warning btn-block col-sm-3">Back</a>
<hr>
<div class="alert alert-success col-sm-6" *ngIf="msgShow">
  Success
</div>

<h3>
  Edit post
</h3>

<form novalidate [formGroup]="formEdit" (ngSubmit)="editPost($event)">
  <div class="row">
    <label for="title">Title</label>
    <input type="text"
      name="title"
      class="form-control"
      placeholder="Major League Baseball"
      formControlName="title"
      [(ngModel)]="title">
  </div>

  <br>
  <div class="row">
    <label for="body">Body</label>
    <input type="text"
      name="body"
      class="form-control"
      placeholder="Son las ligas de béisbol profesional de mayor...."
      formControlName="body"
      [(ngModel)]="body">
  </div>

  <div class="row">
    <button [disabled]="!formEdit.valid"
        class="btn btn-primary col-sm-3" 
        style="margin-top: 1em">Save</button>
  </div>

</form>